
body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 100vh;           /* Define a altura total da tela */
    margin: 0;
    font-family: Times New Roman, Times, serif;
    background-color: gray;
    
}

h1 {
    text-align: center;
    color: rgb(188, 188, 188);
}

#container {
    display: grid;
    width: 270px;
    height: 450px;
    background-color: rgb(86, 86, 86);
    border-radius: 35px;
}

#container-pessoas {
    display: grid;
    width: 500px;
    height: 450px;
    background-color: rgb(86, 86, 86);
    border-radius: 35px;
    margin-left: 20px;
}


#adicionandoPessoa {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
}

input[type="text"]:focus {
    background-color: rgb(196, 196, 196);
}

#search-bar {
    width: 470px;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
}

#add {
    border-radius: 20px;
    width: 100px;
    height: 70px;
    background-color: rgb(136, 136, 136);
}

#add:hover {
    transform: scale(1.05);
    background-color: gray;
}

#button-add {
    display: flex;
    margin: 0 auto;
    width: 100px;
}

#lista {
    display: grid;
    justify-items: center;
    margin-top: 20px;
}

#pessoas-list {
    display: grid;
    justify-items: center;
    margin-top: 20px;
    overflow-y: auto;
    height: 350px;

}
