
body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 100vh;           /* Define a altura total da tela */
    margin: 0;
    font-family: Times New Roman, Times, serif;
    background-color: gray;
    
}

h1 {
    text-align: center;
    color: rgb(188, 188, 188);
}

#container {
    display: grid;
    width: 270px;
    height: 350px;
    background-color: rgb(86, 86, 86);
    border-radius: 35px;


#adicionandoPessoa {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
}

#add {
    border-radius: 35px;
    width: 100px;
}

#button-add {
    display: flex;
    margin: 0 auto;
    width: 100px;
}
}